[Unit]
Description=Next.js app for astrology.tonl.ir
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/astrology.tonl.ir
ExecStart=/bin/bash -c './node_modules/.bin/next start -H 127.0.0.1 -p 3040'
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
